<div class="container mx-auto text-center my-20">
    <h1 class="text-4xl md:text-5xl lg:text-6xl text-indigo-900 py-6 font-bold">¡Bienvenido a tu historial de quejas!</h1>
    <p class="text-lg md:text-xl text-gray-600 font-semibold mb-8">Aquí puedes visualizar, modificar y eliminar algunas de ellas.</p>
    <div class="my-8">
        <a href="/tasks" class="btn-primary" style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Comenzar</a>
    </div>
</div>

