<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quejas</title>
</head>

<body class="bg-gray-200 font-sans">
    <nav class="flex items-center justify-between py-4 px-8 bg-green-500 text-white">
        <p class="text-2xl font-bold">Mi historial</p>
        <ul class="flex">
            <li class="mx-2">
                <a href="/tasks" class="nav-link btn-primary" style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Historial</a>
            </li>
            <li class="mx-2">
                <a href="/create" class="nav-link btn-secondary" style="background-color: #008CBA; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Agregar nueva</a>
            </li>
            <li class="mx-2">
                <a href="/inicio" class="nav-link btn-secondary" style="background-color: #008CBA; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Inicio</a>
            </li>
        </ul>
    </nav>
    {{{body}}}
</body>

<footer class="bg-green-800 text-white py-8">
    <article class="container mx-auto flex flex-wrap justify-between">
        <div class="w-full md:w-1/4 mb-4 md:mb-0">
            <p class="text-lg font-bold">Sport World</p>
        </div>

        <div class="w-full md:w-1/4 mb-4 md:mb-0">
            <p class="text-lg font-bold">Síguenos</p>
        </div>

        <div class="w-full md:w-1/4 mb-4 md:mb-0">
            <p class="text-lg font-bold">Ubicación</p>
            <p>Alguna Calle 777, Colonia,<br>Municipio, Estado,<br>11111</p>
        </div>

        <div class="w-full md:w-1/4 mb-4 md:mb-0">
            <p class="text-lg font-bold">Contacto</p>
            <p>Teléfono: +123 456 789<br>Correo Electrónico: info@tiendadeportes.com</p>
        </div>

        <div class="w-full mt-4">
            <p><a href="" class="text-gray-400 hover:text-white">Condiciones de uso</a> | <a href=""
                    class="text-gray-400 hover:text-white">Aviso de privacidad</a></p>
            <p>&copy; 2023 Sport World</p>
        </div>
    </article>
</footer>

</html>
